* {
    box-sizing: border-box;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

body {
    background-color: #d1cdcc;
}

main {
    background-color: #252525;
}

.item-wrapper {
    padding: 10%;
}

main h2 {
    padding-top: 5%;
    color: #aa0d3f;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

#contenedor-detalle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 8px;
    max-width: 324px;
    margin: 0 auto;
}

#contenedor-detalle img {
    width: 100%;
    border-radius: 8px;
}

#contenedor-detalle-vino {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contenedor-detalle-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.contenedor-detalle-info h3 {
    color: #aa0d3f;
    padding: 0 2% 0 4%;
    font-size: 1.2rem;
}

.contenedor-detalle-info p {
    text-align: justify;
    color: rgb(245, 245, 245);
    font-size: 1rem;
}

#descripcion {
    padding-top: 2%;
}

#contenedor-detalle-botones {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5% 0;
    max-width: 324px;
    margin: 0 auto;
}

form {
    padding: 5%;
}

.boton-detalle {
    color: rgb(245, 245, 245);
    background-color: transparent;
    border: 2px solid #aa0d3f;
    border-radius: 8px;
    padding: 5%;
}

@media (min-width: 767px) {
    main {
        padding: 5% 5% 20% 5%;
    }
    .item-wrapper {
        padding: 5%;
    }

    #contenedor-detalle {
        flex-direction: row;
        max-width: 100%;
    }

    .img-wrapper {
        width: 30%;
        display: flex;
    }

    .img-wrapper img {
        width: 50%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 8px;
    }

    main h2 {
        padding-top: 0;
        width: 100%;
    }

    .contenedor-detalle-info h3 {
        color: #aa0d3f;
        padding: 2% 2% 0 0;
        font-size: 1.2rem;
    }

    .contenedor-detalle-info p {
        padding: 2% 2% 0 0;
    }

    #descripcion {
        padding-top: 1%;
    }

    #contenedor-detalle-vino {
        width: 70%;
        flex-direction: row;
        padding: 0 0 0 5%;
    }

    .contenedor-detalle-info {
        width: 100%;
    }

    #contenedor-detalle-botones {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0;
        max-width: 100%;
        margin: 0;
    }

    form {
        padding: 3% 0 0;
        width: 50%;
        justify-content: space-around;
        display: flex;
    }

    .boton-detalle {
        border-radius: 8px;
        padding: 2%;
    }

    .boton-detalle:hover {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }
}
