/* @MEDIA-QUERY RULES FOR DIFFERENT DEVICES
SMALL PHONES: width -> 360px || height -> 640px
MEDIUM TABLETS: width -> 768px || height -> 1024px
BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px
BIG MONITORS: width -> 2560px || height -> 1600px 
*/
.logo {
	display: none;
}

.nav_bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	border: none;
}

.nav_link {
	height: 100%;
	text-decoration: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
	color: var(--white);
	font-size: 0.5rem;
}

.nav_link:hover {
	background-color: var(--lightGray);
}

.nav_link.active {
	background-color: var(--lightGray);
}

.icons {
	font-size: 1.1rem;
	color: var(--red);
}

/* SMALL PHONES (horizontally): width -> 640px || height -> 360px */
@media (min-width: 640px) {
	.nav_bar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 75%;
		align-items: center;
	}

	.home_icon {
		display: none;
	}

	.logo {
		display: block;
	}
}

/* MEDIUM TABLETS: width -> 768px || height -> 1024px */
@media (min-width: 768px) {
	.nav_bar {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		height: 100%;
		border: none;
	}

	.home_icon {
		display: block;
		align-self: center;
	}

	.logo {
		display: none;
	}
}

/* BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px */
@media (min-width: 1024px) {
}

/* BIG MONITORS: width -> 2560px || height -> 1600px */
@media (min-width: 2560px) {
}
