/* @MEDIA-QUERY RULES FOR DIFFERENT DEVICES 
SMALL PHONES: width -> 360px || height -> 640px
MEDIUM TABLETS: width -> 768px || height -> 1024px
BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px
BIG MONITORS: width -> 2560px || height -> 1600px 
*/

/* SMALL PHONES (vertically): width -> 360px || height -> 640px */

.wine_card_img_wrapper {
	position: relative;
}

.wine_card_img {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	aspect-ratio: 1;
}

.numbers_wrapper {
	width: unset;
	position: absolute;
	top: 2%;
	left: 4%;
}

.wine_price {
	color: var(--green);
	font-size: var(--font-sz-6);
	text-align: center;
	font-weight: bolder;
}

.actions_wrapper {
	position: absolute;
	top: 66%;
	left: 82%;
	display: flex;
	flex-direction: column-reverse;
	width: unset;
	gap: 0.5rem;
}

.actions {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	width: 100%;
	padding: 4% 0%;
	color: var(--red);
	background-color: transparent;
	background-color: var(--lightGray);
	border: none;
	border-radius: 10px;
	font-size: var(--font-sz-4);
	cursor: pointer;
}

.actions:hover {
	background-color: var(--lightGray);
}

.actions_subtitle {
	font-family: var(--cinzelFont);
	color: var(--lightBlack);
	font-size: 0.6rem;
	font-weight: bolder;
}

.wine_card_body {
	padding: 2% 5%;
}

.wine_name {
	font-family: var(--cinzelFont);
	color: var(--yellow);
	font-size: var(--font-sz-6);
	text-align: center;
}

.wine_vineyard {
	font-family: var(--cinzelFont);
	font-size: var(--font-sz-5);
	/* color: var(--lightGray); */
	color: rgba(245, 245, 245, 0.5);
	text-align: center;
}

.wine_grape {
	font-family: var(--cinzelFont);
	color: var(--red);
	font-size: var(--font-sz-3);
	text-align: center;
}

.wine_description {
	font-size: var(--font-sz-1);
	color: var(--white);
	padding: 2% 0% 5% 5%;
	padding: 2% 10%;
	text-wrap: pretty;
	letter-spacing: 0.08rem;
	line-height: 1.4;
}

.wine_description::first-letter {
	font-size: var(--font-sz-8);
	color: var(--red);
	float: left;
	letter-spacing: 0.4rem;
	line-height: 0.7;
}

.similar_wines {
	padding: 10% 0% 5%;
}

/* SMALL PHONES (horizontally): width -> 640px || height -> 360px */
@media (min-width: 640px) {
	.wine_card {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
	}

	.wine_card_img_wrapper {
		width: 50%;
	}

	.wine_card_img {
		width: 100%;
		border-top-left-radius: 10px;
	}

	.numbers_wrapper {
		top: 2%;
		left: 4%;
	}

	.wine_price {
		font-size: var(--font-sz-5);
	}

	.actions_wrapper {
		position: unset;
		flex-direction: row;
		gap: unset;
	}

	.actions {
		flex-direction: column;
		gap: 0.5rem;
		width: 100%;
		background-color: transparent;
	}

	.actions_subtitle {
		color: var(--white);
	}

	.wine_card_body {
		width: 50%;
		padding: 2% 5% 0% 5%;
	}

	.wine_name {
		font-size: var(--font-sz-5);
		text-align: left;
	}

	.wine_vineyard {
		font-size: var(--font-sz-4);
		text-align: left;
	}

	.wine_grape {
		font-size: var(--font-sz-3);
		text-align: left;
	}

	.wine_description {
		padding: 2% 0%;
	}

	.similar_wines {
		padding: 14% 0% 7%;
	}
}

/* MEDIUM TABLETS: width -> 768px || height -> 1024px */
@media (min-width: 768px) {
	.wine_price {
		font-size: var(--font-sz-6);
	}

	.wine_name {
		font-size: var(--font-sz-6);
	}

	.wine_vineyard {
		font-size: var(--font-sz-4);
	}

	.wine_grape {
		font-size: var(--font-sz-3);
	}

	.wine_description {
		font-size: var(--font-sz-2);
	}

	.wine_description::first-letter {
		font-size: var(--font-sz-8);
		line-height: 0.85;
	}

	.similar_wines {
		padding: 5% 0% 5%;
	}
}

/* BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px */
@media (min-width: 1024px) {
	.numbers_wrapper {
		top: 2%;
		left: 4%;
	}

	.wine_price {
		font-size: var(--font-sz-7);
	}

	.actions {
		flex-direction: column;
		gap: 0.5rem;
		width: 100%;
		background-color: transparent;
		font-size: 1.7rem;
	}

	.actions_subtitle {
		color: var(--white);
	}

	.wine_card_body {
		width: 50%;
		padding: 2% 5% 0% 5%;
	}

	.wine_name {
		font-size: var(--font-sz-8);
		text-align: left;
	}

	.wine_vineyard {
		font-size: var(--font-sz-6);
		text-align: left;
	}

	.wine_grape {
		font-size: var(--font-sz-5);
		text-align: left;
	}

	.wine_description {
		padding: 2% 0%;
		font-size: var(--font-sz-3);
	}

	.wine_description::first-letter {
		font-size: var(--font-sz-9);
		line-height: 0.82;
	}

	.similar_wines {
		padding: 10% 0% 7%;
	}
}

/* BIG TABLETS - MEDIUM MONITORS (horizontally): width -> 1366px || height -> 1024px */
@media (min-width: 1300px) {
}

/* BIG MONITORS: width -> 2560px || height -> 1600px */
@media (min-width: 2000px) {
}
