/* @MEDIA-QUERY RULES FOR DIFFERENT DEVICES 
SMALL PHONES: width -> 360px || height -> 640px
MEDIUM TABLETS: width -> 768px || height -> 1024px
BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px
BIG MONITORS: width -> 2560px || height -> 1600px 
*/

.wine_card {
	position: relative;
}

.wine_card_img_wrapper {
}

.wine_card_img {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	aspect-ratio: 1;
}

.wine_card_body {
	padding: 2% 5%;
}

.wine_name {
	font-family: var(--cinzelFont);
	color: var(--yellow);
	font-size: var(--font-sz-5);
	text-align: center;
}

.wine_vineyard {
	font-family: var(--cinzelFont);
	font-size: var(--font-sz-3);
	color: var(--lightGray);
	opacity: 1;
	text-align: center;
}

.wine_grape {
	font-family: var(--cinzelFont);
	color: var(--red);
	font-size: var(--font-sz-4);
	text-align: center;
}
.numbers_wrapper {
	width: unset;
	position: absolute;
	top: 2%;
	left: 7%;
}

.wine_price strong {
	color: var(--green);
	font-size: var(--font-sz-5);
	/* font-family: var(--cinzelFont); */
	text-align: center;
}

.wine_stock {
	/* font-family: var(--cinzelFont); */
	font-size: 0.7rem;
	text-align: center;
}

.wine_stock strong {
	color: var(--red);
	font-size: var(--font-sz-1);
}

.wine_description {
	font-size: var(--font-sz-1);
	color: var(--white);
	padding: 5%;
	text-wrap: pretty;
	letter-spacing: 0.08rem;
	line-height: 1;
	text-align: justify; /* I know design folks say text don't have to be justify, I just don't like unjustify texts. */
}

.wine_description::first-line {
	line-height: 0.8;
}

.wine_description::first-letter {
	font-size: var(--font-sz-5);
	color: var(--red);
	font-size: 2.2rem;
	float: left;
	letter-spacing: 0.2rem;
}

.actions_wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding: 2% 0%;
}

.actions {
	width: unset;
	background-color: transparent;
	color: var(--red);
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.actions path:hover {
	filter: drop-shadow(0rem 0rem 14rem var(--white));
}

.actions_subtitle {
	font-family: var(--cinzelFont);
	color: var(--white);
	font-size: 0.6rem;
}

.similar_wines {
	/* border: solid 1px yellow; */
	padding: 10% 0%;
}
/* SMALL PHONES (vertically): width -> 360px || height -> 640px */

/* SMALL PHONES (horizontally): width -> 640px || height -> 360px */
@media (min-width: 640px) {
}

/* MEDIUM TABLETS: width -> 768px || height -> 1024px */
@media (min-width: 768px) {
}

/* BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px */
@media (min-width: 1024px) {
}

/* BIG TABLETS - MEDIUM MONITORS (horizontally): width -> 1366px || height -> 1024px */
@media (min-width: 1300px) {
}

/* BIG MONITORS: width -> 2560px || height -> 1600px */
@media (min-width: 2000px) {
}
