.accordion_wrapper {
	width: calc(100% - 14.23vw);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.title {
	color: var(--white);
	font-family: var(--cinzelFont);
	font-size: var(--font-sz-5);
	text-align: center;
}

.accordion {
	background-color: transparent;
	border: 0.5px solid var(--lightGray);
	cursor: pointer;
}

.accordion_summary div {
	width: unset;
}

.accordion_summary svg {
	color: var(--lightGray);
}

.accordion_summary:focus-within .name {
	color: var(--red);
}

.accordion_summary:focus-within svg {
	color: var(--white);
}

.name {
	font-family: var(--cinzelFont);
	font-size: var(--font-sz-3);
	font-weight: bolder;
	color: var(--white);
	letter-spacing: 0.1rem;
}

.description {
	font-family: var(--ebGaramondFont);
	color: var(--white);
	letter-spacing: 0.1rem;
}

/* BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px */
@media (min-width: 1024px) {
	.accordion_wrapper {
		width: calc(100% - 14.23vw * 2);
		max-width: 800px;
	}

	.description {
		font-size: var(--font-sz-2);
	}
}
