.accordion_wrapper {
	width: calc(100% - 14.23vw);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.title {
	color: var(--white);
	font-family: var(--cinzelFont);
	font-size: var(--font-sz-5);
	text-align: center;
}

.accordion {
	background-color: transparent;
	border: 0.5px solid var(--lightGray);
	cursor: pointer;
}

.accordion_summary div {
	width: unset;
}

.accordion_summary svg {
	color: var(--lightGray);
}

.accordion_summary:focus-within .name {
	color: var(--red);
}

.accordion_summary:focus-within svg {
	color: var(--white);
}

.name {
	font-family: var(--cinzelFont);
	font-weight: bolder;
	font-size: var(--font-sz-3);
	color: var(--white);
}

.description {
	font-family: var(--ebGaramondFont);
	color: var(--white);
}
