/* Cinzel Font */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
/* EB-Garamond Font */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=EB+Garamond&display=swap");

* {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
}
