:root {
	--strongBlack: rgba(0, 0, 0, 1);
	--lightBlack: rgba(12, 12, 12, 1);
	--gray: rgba(37, 37, 37, 1);
	--lightGray: rgba(245, 245, 245, 0.2);
	--red: rgba(170, 13, 63, 1);
	--green: rgb(57, 181, 74, 1);
	--yellow: rgba(251, 186, 0, 1);
	--white: rgba(245, 245, 245, 1);
	--cinzelFont: "Cinzel", serif;
	--ebGaramondFont: "EB Garamond", serif;
	--quattrocentoFont: "Quattrocento", serif;
	--font-sz-1: 1rem;
	--font-sz-2: 1.1rem;
	--font-sz-3: 1.25rem;
	--font-sz-4: 1.5rem;
	--font-sz-5: 2rem;
	--font-sz-6: 2.5rem;
	--font-sz-7: 3rem;
	--font-sz-8: 3.5rem;
	--font-sz-9: 4rem;
	--font-sz-10: 4.5rem;
}

html {
	background-color: var(--strongBlack);
}

.header {
	background-color: var(--strongBlack);
	font-family: var(--cinzelFont);
	position: fixed;
	z-index: 10;
	bottom: 0;
	height: 8vh;
	/* border: 1px solid orange; */
}

.main {
	min-height: calc(100vh - 16vh - 8vh);
	background-color: var(--lightBlack);
	font-family: var(--ebGaramondFont);
}

.footer {
	background-color: var(--lightBlack);
	font-family: var(--ebGaramondFont);
	margin-bottom: 8vh;
	height: 16vh;
}

/* SMALL PHONES (horizontally): width -> 640px || height -> 360px */
@media (min-width: 640px) {
	.header {
		height: 100vh;
		width: 12vw;
		left: 0;
		top: 0;
		bottom: 0;
	}

	.main {
		width: 88vw;
		margin-left: 12vw;
		min-height: calc(100vh - 16vh);
	}

	.footer {
		width: 88vw;
		margin-left: 12vw;
		margin-bottom: 0;
	}
}

/* MEDIUM TABLETS: width -> 768px || height -> 1024px */
@media (min-width: 768px) {
	/* no changes needed */
}

/* BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px */
@media (min-width: 1024px) {
	.header {
		height: 100vh;
		width: 8vw;
		top: 0;
	}

	.main {
		width: calc(100vw - 8vw);
		min-height: calc(100vh - 16vh);
		margin-left: 8vw;
	}

	.footer {
		width: calc(100vw - 8vw);
		margin-bottom: 0;
		margin-left: 8vw;
	}
}

/* BIG TABLETS - MEDIUM MONITORS (horizontally): width -> 1366px || height -> 1024px */
@media (min-width: 1300px) {
	.header {
		width: 6vw;
	}

	.main {
		width: calc(100vw - 6vw);
		min-height: calc(100vh - 16vh);
		margin-left: 6vw;
	}

	.footer {
		width: calc(100vw - 6vw);
		margin-left: 6vw;
	}
}

/* BIG MONITORS: width -> 2048px || height -> 1440px */
@media (min-width: 2000px) {
	.header {
		width: 4vw;
	}

	.main {
		width: calc(100vw - 4vw);
		min-height: calc(100vh - 16vh);
		margin-left: 4vw;
	}

	.footer {
		width: calc(100vw - 4vw);
		margin-left: 4vw;
	}
}
