/* @MEDIA-QUERY RULES FOR DIFFERENT DEVICES 
SMALL PHONES: width -> 360px || height -> 640px
MEDIUM TABLETS: width -> 768px || height -> 1024px
BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px
BIG MONITORS: width -> 2560px || height -> 1600px 
*/

/* SMALL PHONES (vertically): width -> 360px || height -> 640px */
.form_wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 85%;
	padding: 5% 5% 10% 5%;
	border-radius: 10px;
}

.form_title {
	width: unset;
	font-family: var(--cinzelFont);
	font-size: var(--font-sz-5);
	color: var(--yellow);
	letter-spacing: 0.2rem;
	margin-bottom: 5%;
}

.label {
	color: rgb(133, 133, 133);
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
}

.upload_img_input {
	color: var(--white);
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
	letter-spacing: 0.08rem;
	line-height: 1.4;
	padding-left: 0.5%;
	margin-bottom: 5%;
	cursor: pointer;
	border-bottom: 0.5px solid rgb(133, 133, 133);
}

.upload_img_input:active {
	color: transparent;
	transition: 0.8s ease-out;
}

.upload_img_input::-webkit-file-upload-button {
	/* visibility: hidden; */
	display: none;
	font-family: var(--ebGaramondFont);
	font-style: italic;
	background-color: transparent;
	border: none;
	color: rgb(133, 133, 133);
}

.upload_img_input::before {
	width: unset;
	/* display: inline-block; */
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
}

.upload_img_input::before:active {
	color: var(--white);
}

.upload_img_input:hover::before {
	border: none;
}

.upload_img_input:active::before {
	/* background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); */
	color: var(--white);
}

.inputs {
	background-color: transparent;
	border: none;
	border-bottom: 0.5px solid rgb(133, 133, 133);
	color: var(--white);
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
	letter-spacing: 0.08rem;
	line-height: 1.4;
	padding-left: 0.5%;
	margin-bottom: 5%;
}

.inputs:focus {
	outline: none;
	padding-left: 0.5%;
	border-bottom: 0.5px solid var(--white);
}

.inputs::placeholder {
	font-family: var(--ebGaramondFont);
	font-style: italic;
	padding-left: 0.5%;
}

.inputs:focus::placeholder {
	color: transparent;
	transition: 0.8s ease-out;
}

.inputs::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.select {
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	background-color: transparent;
	border: none;
	border-bottom: 0.5px solid rgb(133, 133, 133);
	color: var(--white);
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
	letter-spacing: 0.08rem;
	line-height: 1.4;
	padding-left: 0.5%;
	margin-bottom: 5%;
}

.select:focus {
	border-bottom: 0.5px solid var(--white);
}

.description {
	min-height: 10rem;
	overflow: auto;
	resize: vertical;
	background-color: transparent;
	border: none;
	border-bottom: 0.5px solid rgb(133, 133, 133);
	color: var(--white);
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
	letter-spacing: 0.08rem;
	line-height: 1.4;
	padding-left: 1%;
	margin-bottom: 5%;
}

.description:focus {
	outline: none;
	border-bottom: 0.5px solid var(--white);
}

.description::placeholder {
	font-family: var(--ebGaramondFont);
	font-style: italic;
	padding-left: 0.5%;
}

.description:focus::placeholder {
	color: transparent;
	transition: 0.8s ease-out;
}

.enter_btn {
	width: unset;
	font-family: var(--cinzelFont);
	font-size: var(--font-sz-1);
	color: rgb(133, 133, 133);
	border: none;
	background-color: transparent;
	margin-bottom: 5%;
	cursor: pointer;
	transition: color 0.3s ease-in, border-bottom 0.3s ease-in;
}

.enter_btn:hover {
	color: var(--white);
	border-bottom: 0.5px solid var(--white);
}

/* SMALL PHONES (horizontally): width -> 640px || height -> 360px */
@media (min-width: 640px) {
	.form {
		width: 75%;
	}
}

/* MEDIUM TABLETS: width -> 768px || height -> 1024px */
@media (min-width: 768px) {
	.form {
		width: 65%;
	}
}

/* BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px */
@media (min-width: 1024px) {
	.form {
		width: 55%;
	}
}

/* BIG MONITORS: width -> 2560px || height -> 1600px */
@media (min-width: 1300px) {
	.form {
		width: 35%;
	}
}
