.form_wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form {
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 0 1rem;
}

.form_title {
	text-align: center;
	font-family: var(--cinzelFont);
	font-size: var(--font-sz-5);
	color: var(--yellow);
	letter-spacing: 0.2rem;
}

.upload_file_preview {
	max-width: 40vh;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: 5px;
}

.text_field div::before {
	border-bottom: 1px solid var(--gray133133133);
}

.text_field div::after {
	border-bottom: 1px solid var(--white);
}

.text_field label {
	color: var(--gray133133133) !important;
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
}

.text_field input {
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
	letter-spacing: 0.08rem;
	line-height: 1.4;
	color: var(--white);
}

.text_field input::placeholder {
	font-style: italic;
	letter-spacing: 0.05rem;
}

/* INPUT TYPE FILE INNER CONTENT */
.text_field input::-webkit-file-upload-button {
	/* visibility: hidden; */
	/* display: none; */
	/* width: unset; */
	cursor: pointer;
	font-family: var(--ebGaramondFont);
	font-style: italic;
	font-weight: bolder;
	background-color: var(--gray373737);
	border: none;
	border-radius: 5px;
	margin-right: 1.5%;
	color: var(--gray245245245);
}

/* INPUT TYPE NUMBER INNER CONTENT */
.text_field input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

/* SELECT'S LABEL FILE INNER CONTENT */
.label {
	color: var(--gray133133133) !important;
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
}

.select {
	color: var(--white);
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
	letter-spacing: 0.08rem;
	line-height: 1.4;
}

.select::before {
	border-bottom: 1px solid var(--gray133133133);
}

.select::after {
	border-bottom: 1px solid var(--white);
}

.select input {
	border-bottom: 0.5px solid var(--white);
}

.select svg {
	color: var(--white);
}

/* SELECT'S OPTION'S MENU */
div:has(ul, li) {
	width: unset;
}

div:has(ul, li) ul {
	color: var(--white);
	background-color: var(--gray373737);
}

div:has(ul, li) li {
	color: var(--white);
	font-family: var(--ebGaramondFont) !important;
	font-size: var(--font-sz-1) !important;
	letter-spacing: 0.05rem !important;
	line-height: 1.4 !important;
}

/* TEXTAREA */
.text_field textarea {
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
	letter-spacing: 0.08rem;
	line-height: 1.4;
	color: var(--white);
}

.button {
	width: unset;
	color: var(--gray133133133);
	font-family: var(--cinzelFont);
	font-size: var(--font-sz-3);
}

.button:hover {
	color: var(--white);
}

/* SMALL PHONES (horizontally): width -> 640px || height -> 360px */
@media (min-width: 640px) {
	.form {
		width: 75%;
	}
}

/* MEDIUM TABLETS: width -> 768px || height -> 1024px */
@media (min-width: 768px) {
	.form {
		width: 65%;
	}
}

/* BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px */
@media (min-width: 1024px) {
	.form {
		width: 55%;
	}
}

/* BIG MONITORS: width -> 2560px || height -> 1600px */
@media (min-width: 1300px) {
	.form {
		width: 35%;
	}
}
