.form_wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form {
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 0 1rem;
}

.form_title {
	width: unset;
	font-family: var(--cinzelFont);
	font-size: var(--font-sz-5);
	color: var(--yellow);
	letter-spacing: 0.2rem;
}

.text_field label {
	color: rgb(133, 133, 133) !important;
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
}

.text_field input {
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
	letter-spacing: 0.08rem;
	line-height: 1.4;
	color: var(--white);
}

.text_field div::before {
	border-bottom: 1px solid rgb(133, 133, 133);
}

.text_field div::after {
	border-bottom: 1px solid var(--white);
}

.label {
	color: rgb(133, 133, 133) !important;
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
}

.select_wrapper {
}

.select {
	color: var(--white);
	font-family: var(--ebGaramondFont);
	font-size: var(--font-sz-1);
	letter-spacing: 0.08rem;
	line-height: 1.4;
}

.select::before {
	border-bottom: 1px solid rgb(133, 133, 133);
}

.select::after {
	border-bottom: 1px solid var(--white);
}

.select input {
	border-bottom: 0.5px solid var(--white);
}

.select svg {
	color: white;
}

div:has(ul, li) {
	width: unset;
}

div:has(ul, li) ul {
	color: var(--white);
	background-color: var(--gray);
}

div:has(ul, li) li {
	color: var(--white);
	font-family: var(--ebGaramondFont) !important;
	font-size: var(--font-sz-1) !important;
	letter-spacing: 0.05rem !important;
	line-height: 1.4 !important;
}

.button {
	width: unset;
	color: rgb(133, 133, 133);
}

.button:hover {
	color: var(--white);
}
