/* @MEDIA-QUERY RULES FOR DIFFERENT DEVICES 
SMALL PHONES: width -> 360px || height -> 640px
SMALL PHONES (horizontally): width -> 640px || height -> 360px
MEDIUM TABLETS: width -> 768px || height -> 1024px
BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px
BIG TABLETS - MEDIUM MONITORS (horizontally): width -> 1366px || height -> 1024px
BIG MONITORS: width -> 2560px || height -> 1600px 
*/

.video_wrapper {
	height: 75vh;
	/* border: 1px solid aliceblue; */
}

.video {
	object-fit: unset;
	height: 100%;
}

.sliders_section {
	/* border: solid 1px yellow; */
	position: relative;
	top: -5rem;
	margin-bottom: -5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-bottom: 32.5px;
}

.varietals_section {
	min-height: 100vh;
	padding: 0 14.23vw;
	margin: 25% 0%;
}

.varietals_wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
}

.varietal {
	width: 100%;
}

.varietal_name {
	text-align: center;
	font-size: var(--font-sz-6);
	font-family: var(--cinzelFont);
	color: var(--red);
}

.varietal_description {
	font-size: var(--font-sz-1);
	color: var(--white);
	text-wrap: pretty;
	letter-spacing: 0.08rem;
	line-height: 1.4;
}

.varietal_description::first-letter {
	font-size: var(--font-sz-7);
	float: left;
	letter-spacing: 0.2rem;
	line-height: 0.88;
}

/* SMALL PHONES (horizontally): width -> 640px || height -> 360px */
@media (min-width: 640px) {
	.video_wrapper {
		height: 100vh;
	}
	.sliders_section {
		position: static;
		margin-bottom: 0rem;
		padding: 2.5rem 0rem calc(2.5rem + 16.25px) 0rem;
	}
}

/* MEDIUM TABLETS: width -> 768px || height -> 1024px */
@media (min-width: 768px) {
	.video_wrapper {
		height: 75vh;
		/* border: solid 1px lightblue; */
	}

	.sliders_section {
		/* border: solid 1px yellow; */
		position: relative;
		top: -6rem;
		margin-bottom: -6rem;
		padding: 0 0 2.5rem 0;
	}
}

/* BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px */
@media (min-width: 1024px) {
	.video_wrapper {
		height: 82vh;
	}
}

/* BIG TABLETS - MEDIUM MONITORS (horizontally): width -> 1366px || height -> 1024px */
@media (min-width: 1300px) {
	.video_wrapper {
		height: 90vh;
		/* border: solid 1px lightblue; */
	}
	.sliders_section {
		top: -8rem;
		margin-bottom: -8rem;
	}
}

/* BIG MONITORS: width -> 2048px || height -> 1440px */
@media (min-width: 2000px) {
	.video_wrapper {
		height: 100vh;
	}
	.sliders_section {
		top: -6rem;
		margin-bottom: -6rem;
	}
}
