.loading {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.intro_section {
    border-bottom: 2px solid;
    border-bottom-color: rgb(8, 124, 240);
}

.video_wrapper {
    height: 72vh;
    border-bottom: 2px solid;
    border-bottom-color: yellow;
}

.video {
    object-fit: unset;
    height: 100%;
}

.sliders_section {
    border: solid 1px red;
    position: relative;
    top: -6rem;
    margin-bottom: -6rem;
}

.slider_wrapper {
    margin: 1% auto;
}

@media (min-width: 640px) {
    .intro_section {
        margin-bottom: 9rem;
    }
    .video_wrapper {
        height: 90vh;
        border-bottom: 2px solid;
        border-bottom-color: yellow;
    }
    .slider_wrapper {
        position: absolute;
        bottom: -9rem;
    }
}
@media (min-width: 1025px) {
}
@media (min-width: 1440px) {
}
