/* @MEDIA-QUERY RULES FOR DIFFERENT DEVICES 
SMALL PHONES: width -> 360px || height -> 640px
MEDIUM TABLETS: width -> 768px || height -> 1024px
BIG TABLETS - MEDIUM MONITORS: width -> 1024px || height -> 1366px
BIG MONITORS: width -> 2560px || height -> 1600px 
*/

.video_wrapper {
	height: 70vh;
	border: none;
	/* border-bottom: 2px solid; */
	/* border-bottom-color: yellow; */
}

.video {
	object-fit: unset;
	height: 100%;
}

.sliders_section {
	/* border: solid 1px red; */
	position: relative;
	top: -4rem;
	margin-bottom: -4rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-bottom: 32.5px;
}

@media (min-width: 640px) {
	.video_wrapper {
		height: 100vh;
	}
	.sliders_section {
		position: static;
		margin-bottom: 0rem;
		padding: 2.5rem 0rem calc(2.5rem + 16.25px) 0rem;
	}
}

@media (min-width: 768px) {
	.video_wrapper {
		height: 70vh;
		border: solid 1px lightblue;
	}

	.sliders_section {
		border: solid 1px yellow;
		position: relative;
		top: -4rem;
		margin-bottom: -4rem;
		padding: 0 0 2.5rem 0;
	}
}

@media (min-width: 1020px) {
}
@media (min-width: 1440px) {
}
