.title {
    font-family: var(--cinzelFont);
    font-size: 1.7rem;
    color: var(--white);
    display: inline-block;
    text-align: center;
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 1.2rem;
    padding: 0 4rem;
}

.slider::-webkit-scrollbar {
    display: none;
}


.slider_item {
    min-width: 55vw;
    max-width: 70vw;
    border-radius: 10px;
    background-color: var(--gray);
}

.slider_item img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.wine_description {
    display: none;
}

.name {
    color: var(--red);
    font-family: var(--cinzelFont);
}

.vineyard {
    color: var(--white);
}

.price {
    color: var(--green);
}

